<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <title>Ecommerce App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>



<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>

<footer class="container-fluid">
<div class="footer container-fluid">
<div class="row">

	<div class="col-md-3 pull-left">
	<h5>About Us</h5> 
	<p>bla bla bla bla vbla bla blabl ablabla blabla    blabla blabl ablabl ablablabl ablabla blabl ablab  lablabla blablab lablablablab la blabla blabla blablab lab lablabl ablabla blabl ablab lablabla blabla blablab lablabla blabla</p>
	</div>

	<div class="col-md-3 text-center"> 
	<h5>Follow Us</h5>
	<ul>
	<li><a href=""><i class="fa fa-facebook"></i> Facebook</li></a>
	<li><a href=""><i class="fa fa-twitter"></i> Twitter</li></a>
	<li><a href=""><i class="fa fa-github"></i> Github</li></a>
	<li><a href=""><i class="fa fa-instagram"></i> Instagram</li></a>
	<li><a href=""><i class="fa fa-google-plus"></i> Google+</li></a>
	<li><a href=""><i class="fa fa-pinterest"></i> Pinterest</li></a>
	<li><a href=""><i class="fa fa-tumblr"></i> Tumblr+</li></a>
	</ul>
	</div>

	<div class="col-md-3"> 
	<h5>Recent Activity</h5>
	<a class="twitter-timeline" href="https://twitter.com/WalkerFlieller" data-widget-id="627544603869102080">Tweets by @WalkerFlieller</a>
                        <script>
                        ! function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                        </script>
	</div>

	<div class="col-md-3 text-right">
	<h5>Clients</h5>
	<ul class="pull-right">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Dashboard", dashboard_index_path %></li>
	<li><%= link_to "Invoices", charges_path %></li>
	<li><%= link_to "Subscribers", subscribers_path %></li>
	<% if current_user %>
	<li><%=link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
	<% elsif current_admin %>

	<li><%=link_to "Sign Out", destroy_admin_session_path, :method => :delete %></li>
	
	<% else %>
	
	<li><%= link_to "Login", new_user_session_path %></li>
	<li><%= link_to "Sign Up", new_user_registration_path %></li>
	<% end %>
</ul>
</div>
</div>
</div>
</div>
</footer>
</html>
